In [1]:
print("hola")

hola

#### fundamentos de pythom
* variables
* operadores matematicos
* operadores logicos
* operadores de comparacion
* estructuras de control
    - condicionales simples
    - condicionales anidados
    - condicionales encadenados
    - ciclos finitos
    - ciclos infinitos
* funciones
* estructuras de datos
    - cadenas de caracteres
    - listas
    - tuplas
    - diccionarios

### variables

In [3]:
name = "josefino"
name

'josefino'

In [4]:
lastname = "primero"

In [5]:
last_name = "primero"

In [6]:
last-name = "primero"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (906108882.py, line 1)

In [7]:
last.name = "primero"

NameError: name 'last' is not defined

In [11]:
lastName = "primero2"

In [12]:
last_name
lastName

'primero2'

In [13]:
lastName = "primero3"

In [15]:
qwert = 23
Asdfg = 10
zxcvb = qwert * Asdfg

In [16]:
zxcvb

230

In [17]:
base = 23
height = 10
arena = base * height

In [18]:
arena

230

In [19]:
print(area)

NameError: name 'area' is not defined

In [27]:
print("base:", base)
print("apellido:", last_name)
print(arena)

base: 23
apellido: primero
230

### operadores matematicos basicos

In [30]:
# suma
number_1 = 10
number_2 = 20
result = number_1 + number_2
print("El resultado de la suma es:", result)

El resultado es: 30

In [31]:
# resta
number_1 = 10
number_2 = 20
result = number_1 - number_2
print("El resultado de la resta es:", result)

El resultado de la resta es: -10

In [32]:
# multiplicacion
number_1 = 10
number_2 = 20
result = number_1 * number_2
print("El resultado de la multiplicacion es:", result)

El resultado de la multiplicacion es: 200

In [33]:
# division
number_1 = 10
number_2 = 20
result = number_1 / number_2
print("El resultado de la division es:", result)

El resultado de la division es: 0.5

In [36]:
print(type(last_name))
print(type(last_name))
print(type(result))

<class 'str'>
<class 'str'>
<class 'float'>

In [37]:
number_2

20

In [38]:
20 + 20

40

###estructuras de control###

In [4]:
name1 = "pablo" 
age = 16

In [ ]:
# if condicion:
# prin ("saludos")

In [5]:
# condicional simple
if (age > 15):
    print("puede pasar")

puede pasar

In [ ]:
# operadores de comparacion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# igual ==
# diferente =

In [14]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = input("ingrese su edad:")
# age = int(age)
age = float(age)

if (age > 15):
    print("puede pasar", name1)

puede pasar carlos

In [15]:
type(age)

float

In [ ]:
#operadores logicos
#and 
#or 
#not

In [16]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = input("ingrese su edad:")
day = input("ingrese dia de la semana: ")
age = int(age)

if (age > 15):
    if day == "sabado":
        print("puede pasar", name1)

puede pasar carlos

In [27]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = input("ingrese su edad:")
day = input("ingrese dia de la semana: ")
age = int(age)

if (age > 15) and (day == "sabado" or day == "viernes"):
    print("puedes pasar", name1)

puedes pasar carlos

In [30]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = input("ingrese su edad:")
day = input("ingrese dia de la semana: ")
age = int(age)

if (age > 15):
    if (day == "sabado") or (day == "viernes"):
        print("puedes pasar", name1)

puedes pasar carlos

In [31]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = input("ingrese su edad:")
day = input("ingrese dia de la semana: ")
age = int(age)

if (age > 15):
    print("puedes pasar", name1)
else:
    print("fuera de aqui",name1)
    # if (day == "sabado") or (day == "viernes"):
    #     print("puedes pasar", name1)

fuera de aqui carlos

In [35]:
# condicional simple
name1 = input("ingrese su nombre: ")
age = input("ingrese su edad:")
age = int(age)

if (age > 15):
     day = input("ingrese dia de la semana: ")
     
     if (day == "sabado") or (day == "viernes"):
         print("puedes pasar", name1)
     else:
         print("no es sabado ni viernes")
else:
    print("menor de 15")

menor de 15

### condicionales encadenados

In [44]:
# condicional simple
# name1 = input("ingrese su nombre: ")
# age = input("ingrese su edad:")
day = input("ingrese dia de la semana: ")
# age = int(age)

if day =="lunes" :
    print("voy al cine")

elif day == "martes":
         print("voy al gym")

elif day == "miercoles":
         print("voy al mercado")

elif day == "jueves":
         print("voy al padel")

elif day == "viernes":
         print("dia libre")
else:
    print("fin de semana")


#  else:
#          print("no viernes")
# else:
#     print("menor de 15")

fin de semana

### ciclo finitos -> for

In [52]:
# for var in range(start, stop, step):
for var in range(5,11,2):
    if var == 5:
        print("encontre el ", var)

encontre el  5

In [53]:
# listas
name_list = ["jose", "maria", "pedro"]

In [54]:
len(name_list)

3

In [55]:
type(name_list)

list

In [56]:
name_list.append("pablo")

In [60]:
name_list.append("jose")

In [61]:
name_list

['jose', 'maria', 'pedro', 'pablo', 'jose']

In [62]:
name_list.count("jose")

2

In [63]:
name_list.sort()

In [64]:
name_list

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [65]:
name_list_2 = name_list.copy()

In [66]:
name_list_2

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [68]:
# recorrer la lista
for name in name_list:
    if name == "maria":
        print("maria te encontre")

maria te encontre

In [74]:
name_list[3]

'pablo'

In [75]:
print(name_list)

['jose', 'jose', 'maria', 'pablo', 'pedro']

In [81]:
name_list[0:3]

['jose', 'jose', 'maria']

In [80]:
name_list[:3]

['jose', 'jose', 'maria']

In [84]:
name_list[-1]

'pedro'

In [86]:
name_list[-4:-1]

['jose', 'maria', 'pablo']

In [83]:
name_list[2:4]

['maria', 'pablo']

In [89]:
len(name_list)

5

In [92]:
# recorrer la lista por el indice
for name in range(len(name_list)):
    print(name_list[name])

jose
jose
maria
pablo
pedro