In [1]:
print("hola")

hola

#### fundamentos de pythom
* variables
* operadores matematicos
* operadores logicos
* operadores de comparacion
* estructuras de control
    - condicionales simples
    - condicionales anidados
    - condicionales encadenados
    - ciclos finitos
    - ciclos infinitos
* funciones
* estructuras de datos
    - cadenas de caracteres
    - listas
    - tuplas
    - diccionarios

### variables

In [3]:
name = "josefino"
name

'josefino'

In [4]:
lastname = "primero"

In [5]:
last_name = "primero"

In [6]:
last-name = "primero"

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (906108882.py, line 1)

In [7]:
last.name = "primero"

NameError: name 'last' is not defined

In [11]:
lastName = "primero2"

In [12]:
last_name
lastName

'primero2'

In [13]:
lastName = "primero3"

In [15]:
qwert = 23
Asdfg = 10
zxcvb = qwert * Asdfg

In [16]:
zxcvb

230

In [17]:
base = 23
height = 10
arena = base * height

In [18]:
arena

230

In [19]:
print(area)

NameError: name 'area' is not defined

In [27]:
print("base:", base)
print("apellido:", last_name)
print(arena)

base: 23
apellido: primero
230

### operadores matematicos basicos

In [30]:
# suma
number_1 = 10
number_2 = 20
result = number_1 + number_2
print("El resultado de la suma es:", result)

El resultado es: 30

In [31]:
# resta
number_1 = 10
number_2 = 20
result = number_1 - number_2
print("El resultado de la resta es:", result)

El resultado de la resta es: -10

In [32]:
# multiplicacion
number_1 = 10
number_2 = 20
result = number_1 * number_2
print("El resultado de la multiplicacion es:", result)

El resultado de la multiplicacion es: 200

In [33]:
# division
number_1 = 10
number_2 = 20
result = number_1 / number_2
print("El resultado de la division es:", result)

El resultado de la division es: 0.5

In [36]:
print(type(last_name))
print(type(last_name))
print(type(result))

<class 'str'>
<class 'str'>
<class 'float'>

In [37]:
number_2

20

In [38]:
20 + 20

40